html {
    font-family: "Open Sans", Arial;
}

header {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

main {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a.no-underline {
    text-decoration: none;
}
.covid-vaccine {
    font-size: 12px;
    text-align: center;
}
footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(242,242,242);
    font-size: 16px;
    position: absolute;
    align-items:center;
    bottom: 0px;
    justify-content: space-between;
    width: 100%;
    height: 3%;
    /*padding: 15px 5% 15px 5%%;*/
}

button {
    padding: 10px;
    margin: 30px 15px;
}

.search-bar {
    font-size: 24px;
    margin: 20px 0px 0px 0px;
    width: 400px;
}